<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>song_07.pdf</string>
		<string>https://www.dropbox.com/s/ydk6rgg7p6o5mzh/song_07.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_07.pdf</string>
	</array>
	<array>
		<string>song_106.pdf</string>
		<string>https://www.dropbox.com/s/rxi1puhw4l0txaa/song_106.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_106.pdf</string>
	</array>
	<array>
		<string>song_105.pdf</string>
		<string>https://www.dropbox.com/s/rd0fzdleaspp672/song_105.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_105.pdf</string>
	</array>
	<array>
		<string>song_08.pdf</string>
		<string>https://www.dropbox.com/s/le5cjlqsdgo2h3n/song_08.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_08.pdf</string>
	</array>
	<array>
		<string>song_108.pdf</string>
		<string>https://www.dropbox.com/s/8bi0c2mwsj9ydi4/song_108.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_108.pdf</string>
	</array>
	<array>
		<string>song_125.pdf</string>
		<string>https://www.dropbox.com/s/hyzjwvnq01cp2td/song_125.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_125.pdf</string>
	</array>
	<array>
		<string>song_12.pdf</string>
		<string>https://www.dropbox.com/s/zdmzjakxlf9lg1a/song_12.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_12.pdf</string>
	</array>
	<array>
		<string>song_102.pdf</string>
		<string>https://www.dropbox.com/s/i9pfk1l6ixgwlnz/song_102.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_102.pdf</string>
	</array>
	<array>
		<string>song_137.pdf</string>
		<string>https://www.dropbox.com/s/vux57bkdiedflwf/song_137.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_137.pdf</string>
	</array>
	<array>
		<string>song_133.pdf</string>
		<string>https://www.dropbox.com/s/fp70erqdgydj2bd/song_133.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_133.pdf</string>
	</array>
	<array>
		<string>song_136.pdf</string>
		<string>https://www.dropbox.com/s/b7m8i3gpspz8f3f/song_136.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_136.pdf</string>
	</array>
	<array>
		<string>song_123.pdf</string>
		<string>https://www.dropbox.com/s/yee10qmei8f5bif/song_123.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_123.pdf</string>
	</array>
	<array>
		<string>song_131.pdf</string>
		<string>https://www.dropbox.com/s/3vaw74pf7fwxbb9/song_131.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_131.pdf</string>
	</array>
	<array>
		<string>song_139.pdf</string>
		<string>https://www.dropbox.com/s/bt5yx5dbteczjwr/song_139.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_139.pdf</string>
	</array>
	<array>
		<string>song_141.pdf</string>
		<string>https://www.dropbox.com/s/cdn8b8ukzd4359x/song_141.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_141.pdf</string>
	</array>
	<array>
		<string>song_140.pdf</string>
		<string>https://www.dropbox.com/s/drslirp3qqe5b0v/song_140.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_140.pdf</string>
	</array>
	<array>
		<string>song_144.pdf</string>
		<string>https://www.dropbox.com/s/mk1it4fhhywr3sr/song_144.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_144.pdf</string>
	</array>
	<array>
		<string>song_142.pdf</string>
		<string>https://www.dropbox.com/s/w85dv27rahvsbdh/song_142.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_142.pdf</string>
	</array>
	<array>
		<string>song_143.pdf</string>
		<string>https://www.dropbox.com/s/7ywid8ov2l986hh/song_143.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_143.pdf</string>
	</array>
	<array>
		<string>song_138.pdf</string>
		<string>https://www.dropbox.com/s/ofyznq77u8rg85i/song_138.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_138.pdf</string>
	</array>
	<array>
		<string>song_147.pdf</string>
		<string>https://www.dropbox.com/s/spb62shrzl53hov/song_147.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_147.pdf</string>
	</array>
	<array>
		<string>song_149.pdf</string>
		<string>https://www.dropbox.com/s/jqbv7celo9dh95u/song_149.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_149.pdf</string>
	</array>
	<array>
		<string>song_145.pdf</string>
		<string>https://www.dropbox.com/s/z02h5ihvgypno5d/song_145.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_145.pdf</string>
	</array>
	<array>
		<string>song_152.pdf</string>
		<string>https://www.dropbox.com/s/88e77t0ag0ha058/song_152.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_152.pdf</string>
	</array>
	<array>
		<string>song_146.pdf</string>
		<string>https://www.dropbox.com/s/4c84j9ey8ja3n4b/song_146.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_146.pdf</string>
	</array>
	<array>
		<string>song_148.pdf</string>
		<string>https://www.dropbox.com/s/wooqudm8rpyv0lx/song_148.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_148.pdf</string>
	</array>
	<array>
		<string>song_17.pdf</string>
		<string>https://www.dropbox.com/s/drs00vjbotry65x/song_17.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_17.pdf</string>
	</array>
	<array>
		<string>song_18.pdf</string>
		<string>https://www.dropbox.com/s/7wanu5gu7yghvcz/song_18.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_18.pdf</string>
	</array>
	<array>
		<string>song_22.pdf</string>
		<string>https://www.dropbox.com/s/b0z4hnvfm27v5d1/song_22.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_22.pdf</string>
	</array>
	<array>
		<string>song_27.pdf</string>
		<string>https://www.dropbox.com/s/dwoivsrqw84ky6w/song_27.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_27.pdf</string>
	</array>
	<array>
		<string>song_30.pdf</string>
		<string>https://www.dropbox.com/s/q0wygznynsrwbyb/song_30.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_30.pdf</string>
	</array>
	<array>
		<string>song_29.pdf</string>
		<string>https://www.dropbox.com/s/xw02qhk73agck9o/song_29.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_29.pdf</string>
	</array>
	<array>
		<string>song_43.pdf</string>
		<string>https://www.dropbox.com/s/n92cg3wzik98ex3/song_43.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_43.pdf</string>
	</array>
	<array>
		<string>song_48.pdf</string>
		<string>https://www.dropbox.com/s/a5mhel4o0vohk6h/song_48.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_48.pdf</string>
	</array>
	<array>
		<string>song_49.pdf</string>
		<string>https://www.dropbox.com/s/z0zq3m7gupadr7h/song_49.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_49.pdf</string>
	</array>
	<array>
		<string>song_50.pdf</string>
		<string>https://www.dropbox.com/s/q24pnwuni5o5r7f/song_50.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_50.pdf</string>
	</array>
	<array>
		<string>song_54.pdf</string>
		<string>https://www.dropbox.com/s/z5meksmuk5d0qs1/song_54.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_54.pdf</string>
	</array>
	<array>
		<string>song_61.pdf</string>
		<string>https://www.dropbox.com/s/z2efza7xliymyq8/song_61.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_61.pdf</string>
	</array>
	<array>
		<string>song_63.pdf</string>
		<string>https://www.dropbox.com/s/z4wau7qxf07g6jf/song_63.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_63.pdf</string>
	</array>
	<array>
		<string>song_80.pdf</string>
		<string>https://www.dropbox.com/s/tzpvs9rfhoo64lu/song_80.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_80.pdf</string>
	</array>
	<array>
		<string>song_66.pdf</string>
		<string>https://www.dropbox.com/s/e5kj5ufye94sj1t/song_66.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_66.pdf</string>
	</array>
	<array>
		<string>song_81.pdf</string>
		<string>https://www.dropbox.com/s/5hysif2v8gg49je/song_81.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_81.pdf</string>
	</array>
	<array>
		<string>song_86.pdf</string>
		<string>https://www.dropbox.com/s/vyl2vo0knbfke92/song_86.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_86.pdf</string>
	</array>
	<array>
		<string>song_88.pdf</string>
		<string>https://www.dropbox.com/s/k4okyd6zf1z1vwv/song_88.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_88.pdf</string>
	</array>
	<array>
		<string>song_97.pdf</string>
		<string>https://www.dropbox.com/s/50634u1ll6m9fg4/song_97.pdf?dl=0</string>
		<string>https://noahleft.github.io/PDF-Book/pdf/song_97.pdf</string>
	</array>
</array>
</plist>
